html, body {
  margin: 0;
	font-size: 16px;
	font-family: "Arial", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
}

body {
  background: url("assets/images/BG.png") no-repeat center;
  background-size: cover;

  &.win {
    background: #fff;
  }
}